@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.block{
outline: 2px solid black;
margin: 100px auto;
width: 90%;
border-radius: 30px;
border-color: black;
display: flex;
background: rgb(182, 177, 177);
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
}

.block__button__delete__all{
margin: 30px;
outline: 2px solid black;
background-color: aqua;
align-items: center;
width: 13%;
height: 80px;
border-radius: 10px;
font-style: Roboto;
font-weight: 600;
}

.block__button__delete__last{
margin: 30px;
outline: 2px solid black;
background-color: aqua;
align-items: center;
width: 13%;
height: 80px;
border-radius: 10px;
font-style: Roboto;
font-weight: 600;
}

.block__input_todo{
margin: 30px;
outline: 2px solid black;
align-items: center;
width: 39%;
height: 80px;
border-radius: 10px;
font-size: larger;
font-family: "Roboto", sans-serif;
font-weight: 600;
padding: 12px 20px;
box-sizing: border-box;
}

.block__button__add_todo{
margin: 30px;
outline: 2px solid black;
background-color: aqua;
align-items: center;
width: 13%;
height: 80px;
border-radius: 10px;
font-style: Roboto;
font-weight: 600;
}

.block__text_all {
margin-top: 60px;
margin-left: 70px;
font-family: "Sedan", serif;
font-weight: 400;
font-style: normal;
align-items: center;
justify-content: center;
}

.block__text_completed{
margin-top: 60px;
margin-left: 70px;
font-family: "Sedan", serif;
font-weight: 400;
font-style: normal;
align-items: center;
justify-content: center;
}

.block__button__show_all{
margin: 30px;
outline: 2px solid black;
background-color: aqua;
align-items: center;
width: 23%;
height: 80px;
border-radius: 10px;
font-family: "Roboto", sans-serif;
font-weight: 700;
}

.block__button__show_completed{
margin: 30px;
outline: 2px solid black;
background-color: aqua;
align-items: center;
width: 23%;
height: 80px;
border-radius: 10px;
font-family: "Roboto", sans-serif;
font-weight: 700;
}

.block__input__search{
margin: 30px;
outline: 2px solid black;
align-items: center;
width: 16%;
height: 80px;
border-radius: 10px;
font-size: larger;
font-family: "Roboto", sans-serif;
font-weight: 700;
padding: 12px 20px;
box-sizing: border-box;
}

.block__container__todo{
margin: 40px auto;
width: 100%;
display: flex;
flex-direction: column;
justify-content: space-around;
flex-wrap: wrap;
}

.block__container__todo_Active{
margin: auto;
margin-bottom: 40px;
width: 70%;
height: 170px;
outline: 2px solid black;
border-radius: 30px;
border-color: black;
display: flex;
background-color: rgb(182, 177, 177);
flex-direction: row;
justify-content: space-between;
}

.block__container__todo_Active_Checkbox{
margin-top: 60px;
margin-left: 30px;
width: 10%;
height: 40px;
background-color: aqua;
cursor: pointer;
}

.inputToDoValue {
display: flex;
margin: auto;
width: 55%;
height: 80px;
outline: 2px solid black;
border-radius: 30px;
border-color: black;
font-family: "Roboto", sans-serif;
font-weight: 700;
padding: 12px 20px;
box-sizing: border-box;
align-items: center;
}

.inputToDoValue__checked{
background: 'lightgrey';
text-decoration: line-through;
}

.inputToDoValueToDotext{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.blockCloseData{
margin: 0;
padding-right: 15px;
height: 100%;
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: space-around;

}

.blockCloseButton{
margin: 0;
outline: 2px solid black;
background-color: aqua;
align-items: center;
width: 50%;
height: 40px;
border-radius: 10px;
font-family: "Roboto", sans-serif;
font-weight: 700;
}

.inputData {
margin-bottom: 0;
width: 77%;
height: 45px;
outline: 2px solid black;
border-radius: 10px;
border-color: black;
font-family: "Roboto", sans-serif;
font-weight: 700;
padding: 8px 10px;
box-sizing: border-box;
}