.stopwatch {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.timer {
    display: flex;
    width: 300px;
    height: 50px;
    background-color: blue;
    align-items: center;
    justify-content: center;
}
.start {
    display: flex;
    width: 300px;
    height: 50px;
    background-color: rgb(69, 168, 11);
    align-items: center;
    justify-content: center;
}

.pause {
    display: flex;
    width: 300px;
    height: 50px;
    background-color: rgb(255, 0, 0);
    align-items: center;
    justify-content: center;
}