
.advertising {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 14px;
}
.advertising_img {
    border-radius: 12px;
    border: none;
}
